/*
Theme Name: CNW
Version: 1.0
Author: Grapps
Author URI: http://gr-development.com
*/
.body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
	max-width: 980px;
}
#logo {
	padding: 7px 0;
}
.nav_wrap {
	list-style-type: none;
	font-size: 0;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 14px;
}
.nav_wrap li {
	display: inline-block;
}
#navt li {
	border-right: 1px solid #dfdfdf;
}
#navt li:last-child {
	border: none;
	padding-right: 2px;
}
#navt ul {
	display: inline-block;
	float: none !important;
}
.nav_wrap li a {
	font-size: 12px;
	padding: 0px 5px 0px 5px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
}
.nav_wrap li.active a {
	color: #0099CC !important;
}
.nav_wrap li a:hover{
	text-decoration: none;
	/*color: #0099CC !important;*/
	text-decoration: underline;
}
#navb ul {
	float: left;
}
#navb li.current-menu-item {
	border-bottom: 1px solid #CACACA;
}
#phone {
	float: right;
	padding-top: 2px;
	position: absolute;
    right: 0;
    margin-right: 8px;
    bottom: 0;
}
#navb {
	border-top: 1px solid #004d97;
	text-align: left;
}
#navb ul {
	padding-left: 0;
}
#navb a {
    padding: 0px 15px 0px 15px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
}
#phone {
	font-size: 12px;
	font-weight: bold;
	color: #cc0033;
	padding-right: 7px;
}
#subnav {
	background-color: #121212;
	height: 30px;
	list-style-type: none;
}
#subnav ul {
	margin-bottom: 0;
	line-height: 20px;
	font-size: 11px;
	text-align: right;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#subnav li {
	display: inline-block;
	padding: 0 4px;
}
#subnav li.menu_active a {
	/*border-bottom: 1px solid #FDFBFB;*/
	text-decoration: underline;
}
#subnav li:last-child {
	padding-right: 0;
}
#subnav li a {
	color: white;
	font-size: 11px;
	font-weight: bold;
	/*padding-left: 7px;*/
	padding-right: 7px !important;
}
#subnav li a:last-child {
	padding-right: 0 !important;
}
#subnav li.active a {
	text-decoration: underline;
}
/*top slider*/
#top_slider .owl-buttons {
	top: 50%;
	position: absolute;
	width: 100%;
	margin-top: -30px;
	opacity: 0;
}
#top_slider .owl-buttons .owl-next, #top_slider .owl-buttons .owl-prev {
    display: block;
    width: 30px;
    height: 30px;
    background: url(images/arrows.png) -30px no-repeat;
    border: 0;
    transition: all 200ms ease-in-out;
    text-indent: -9999px;
    position: absolute;
    right: 0;
}
#top_slider .owl-buttons .owl-prev {
	right: auto;
	left: 0;
	background: url(images/arrows.png) no-repeat;
}
#top_slider:hover .owl-buttons {
	opacity: 1;
}
#top_slider .owl-controls {
	margin-top: 0;
}
#top_slider .owl-item img {
	width: 100%;
}
/*content*/
#content h3 {
	text-transform: uppercase;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	margin: 32px 0;
}
.ch_industry_item_wrap {
	padding-bottom: 15px;
}
/*announce section*/
#announce {
	background: #eee;
	padding-bottom: 30px;
}
.announce_item h3 {
	font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 43px;
}
.announce_txt p {
    font: 12px Arial, sans-serif;
    color: #333;
    line-height: 1.5;
}
.announce_more a {
	color: #009ee3;
	font: 12px Arial, sans-serif;
}
.announce_item_track {
	padding-top: 30px;
}
.tracking_ttl {
	line-height: 10px;
	color: #333;
	font-size: 12px;
	float: left;
	padding-top: 5px;

}
.tracking_inp {
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	line-height: 10px;
	width: 115px;
	float: left;
}
.tracking_sbm {
	width: 23px;
	height: 19px;
	border: none;
	font-size: 11px;
	padding: 0 3px;
	float: left;
	margin-left: 5px;
}
.announce_link {
	display: block;
	margin-top: 27px;
}
.content_txt h4 {
	color: #1f497d;
	font-weight: bold;
	font-size: 13px;
}
.content_txt p {
	font: 12px Arial, sans-serif;
	color: #333;
	line-height: 1.5em;
}
/*footer*/
#footer {
	background: #121212;
}
#footer_menu {
	padding: 5px 0;
	float: left;
}
#footer_social {
	float: right;
	font-size: 8px;
}
#footer_social a {
	color: white;
	padding: 5px 4px 0px;
}
#footer_social a:hover {
	background: none;
	opacity: 0.7;
}
#footer_menu ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
#footer_menu ul li {
	display: inline-block;
}
#footer_menu ul a {
	font: 11px Arial, sans-serif;
    color: #666;
    line-height: 1.5em;
}
#footer_copy {
	color: #333;
	font-size: 11px;
	padding-top: 5px;
	clear: both;
}
#footer_copy a {
	color: #333;
}

/*inner content*/
.header_wrapper {
	position: fixed;
	width: 100%;
	clear: both;
	background: white;
	z-index: 2;
	height: 133px;
}
.inner_content {
	/*height: 100%;*/
	padding-top: 130px;
}
.inner_footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}
.inner_content_wrap {
	border: 1px solid white;
	margin: 40px 0;
	width: 74%;
	float: right;
	background: white;
	padding: 20px 40px;
}
.inner_content_wrap .announce_more {
	text-align: right;
	border-bottom: 1px solid #7f7f7f;
	padding-bottom: 20px;
}
.inner_content_ttl {
	color: #333;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 22px;
	padding-top: 11px;
	padding-bottom: 11px;
}
.inner_content_subttl {
	font: 14px Arial, sans-serif;
	color: #003366;
}
.inner_content_txt {
	margin-top: 25px;
	border-top: 1px solid #ccc;
	padding-top: 20px;

}
.inner_content_txt p {
	font: 12px Arial, sans-serif;
    color: #333;
	line-height: 18px;
}
.inner_content_quote_ttl {
	color: #003366 !important;
	font-weight: bold !important;
	margin-top: 35px;
}
.inner_content_quote_txt {
	padding: 22px;
	background: #EEEEEE;
	margin-top: 23px;
	font-style: italic;
	font-family: Georgia, Serif;
}
.inner_form_wrap {
    border-top: 1px solid #7F7F7F;
    margin-top: 20px;
    padding-top: 30px;
}
.inner_content_contact_ttl {
	margin-top: 22px;
}
.contacts_mail {
	color: #009ee3;
	font-size: 12px;
}
.china_flag {
	margin-top: -8px;
    display: inline-block;
    vertical-align: top;
    padding-top: 9px;
}
.china_flag:hover img {
	opacity: 0.5;
}
.collapse_main {
	padding: 0;
}
#menu-footer-main-menu {
	float: none !important;
}
#menu-footer-main-menu li {
	position: relative;
}
#menu-footer-main-menu li:first-child a {
	padding-left: 0;
}
#menu-footer-main-menu li:after {
	content: '';
	position: absolute;
	right: 0;
	border-right: 1px solid #666;
	height: 10px;
    top: 3px;
}
#menu-footer-main-menu li:last-child:after {
	border: none;
}
#menu-footer-main-menu a {
	padding: 0 5px;
}
.footer_copy_txt {
	float: left;
	line-height: 10px;
}
#menu-footer-bottom-menu {
	float: left;
}
#menu-footer-bottom-menu a {
	padding: 0;
	line-height: 10px;
	padding-right: 5px;
}
.ch_industry_item_wrap:hover img {
	opacity: 0.7;
}
.ch_industry_item {
	display: block;
    overflow: hidden;
    position: relative;
}
.ch_industry_item_ttl {
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
    background: #212020;
    opacity: 0.8;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
.contact_field_item {
	width: 49%;
	float: left;
}
.contact_field_item_textarea {
	width: 100% !important;
	padding-right: 2%;
}
.contact_field_item_textarea span {
	display: block;
}
.contact_field_item_textarea textarea {
	width: 100%;
}
.contact_field_item p:first-child {
	margin: 0;
}
.contact_field_item:nth-child(2n+1) {
	padding-left: 5px !important;
}
.contact_field_item:nth-of-type(2n+2) {
	clear: both;
}
.contact_field_item input {
	width: 100%;
}
.contact_submit {
	clear: both;
}
.single-services #menu-main-menu .menu-item-object-services {
	border-bottom: 1px solid #CACACA;
}
.single-solutions #menu-main-menu .menu-item-object-solutions {
	border-bottom: 1px solid #CACACA;
}
.single-industries #menu-main-menu .menu-item-object-industries {
	border-bottom: 1px solid #CACACA;
}
.single-about #menu-main-menu .menu-item-object-about {
	border-bottom: 1px solid #CACACA;
}
.ch_industry_item img {
	width: 100%;
}
#subnav nav {
	background: none;
	border: none;
}
#subnav button {
	border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
}
#quote p {
	font-style: italic !important;
}
.top_menu_wrap li {
    display: block;
}
.top_menu_item a {
	/*float: left;*/
}
.top_menu_item ul {
	clear: both;
}
.mobile_menu_wrap {
	clear: both;
}
.top_menu_item {
	background: none;
	border: none;
	display: block;
}
.inner_menu_item {
	display: block;
	text-align: left;
}
#main_mob_menu {
	margin-bottom: 0;
	min-height: 0;
}
.mobile_menu_wrap {
	display: none;
}
.front_menu_items {
	width: 100%;
	border-bottom: 1px solid #4A4747;
	margin: 0 auto;
	padding-right: 0px !important;
	position: relative;
}
.front_menu_items ul {
	padding-left: 10px;
}
.front_menu_items a {
	cursor: pointer;
}
.accord_btn {
	position: absolute;
	right: 0;
}
.front_menu_items a.front_item_a {
	padding-right: 0px !important;
	text-transform: uppercase;
	text-align: left;
}
#accordion1 {
	padding: 0 !important;
}
#subnav li a.front_item_a {
	padding-right: 20px !important;
	width: 100%;
    /*border-bottom: 1px solid red;*/
    display: block;
}
.front_item_a:after {
/*	content: '>';
	position: absolute;
	right: 0;*/
}
.front_item_a:last-child:after {
	content: '';
}
[aria-expanded="true"].front_item_a:after {
	content: '^';
}
.inner_menu_item {
	padding-right: 0 !important;
}
/*max*/
hr{
	border-top: 1px solid #7f7f7f;
    	border-right: 0;
    	border-left: 0;
   	border-bottom: 0;
    	height: 1px;
	color: black;
}
body > div.inner_content > div > div > div.inner_content_txt.clearfix > h4{
	font: 14px Arial, sans-serif;
    	color: #003366;
   	line-height: 1.5em;
    	text-transform: none;
    	padding: 20px 0 5px 0;
	font-weight: bold;
}
/*max*/

.form_title {
    padding: 30px 0 5px 0;
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8em;
}
.full_main_menu_front_item_a {
	cursor: pointer;
}
.inner_subitems_wrap {
	position: absolute;
	z-index: 2;
	top: 15px;
	display: none;
	width: 100%;
    padding: 10px 0;
    left: 0;
    padding-left: 15px !important;
    /*text-align: left !important;*/
}
/*.inner_subitems_wrap a {
	padding-right: 10px !important;
}*/
.inner_subitems_wrap li {
	/*display: block;*/
}
.inner_subitems_wrap li a {
	color: white !important;
}
.full_main_menu_front_item {
	/*position: relative;*/
}
/*.full_main_menu_front_item:hover ul {*/
.noactive_m:hover ul {
/*.full_main_menu_front_item>a:hover~ul {*/
	display: block;
}
body.single-industries a.industries:hover~ul {
	/*display: none;*/
}

body.single-services .full_main_menu_front_item_a.services, 
body.single-about .full_main_menu_front_item_a.about, 
body.single-industries .full_main_menu_front_item_a.industries, 
body.single-solutions .full_main_menu_front_item_a.solutions {
	text-decoration: underline;
}
.active_item_menu {
	text-decoration: underline;
}
.full_main_menu_wrap {
	position: relative;
	width: 100%;
}
.full_main_menu_wrap ul {
	text-align: left;
    padding-right: 2px;
    padding-top: 31px;
}
.full_main_menu_wrap_page ul {
	padding-top: 22px;
}
.inner_subitems_wrap a {
	padding-left: 0px !important;
	padding-right: 7px !important;
	text-transform: none !important
}
.inner_subitems_wrap li:last-child a {
	padding-right: 5px !important;
}
.nomobile_inner_menu ul {
	padding-left: 0;
}
.navbar-toggle {
	float: left !important;
}
#bs-example-navbar-collapse-1 > ul {
	float: right !important;
    width: 695px !important;
    text-align: left !important;
}
.titles_wrapper {
	position: absolute;
	top: 15%;
	right: 7%;
	list-style-type: none;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding: 32px 0;
    margin-left: 5px;
}
.titles_wrapper li {
	line-height: 36px;
}
#top_slider .owl-controls {
    margin-top: -27px;
}
.owl-theme .owl-controls .owl-page span {
	background: white !important;
	position: relative;
}
#slider_btn {
	position: absolute;
	bottom: -42px;
	background: #1479bf;
	color: white;
	border: none;
}
#slider_btn:hover {
	background: white;
	color: #1479bf;
}
/*wp accessibility*/
.fontsize .inner_content_txt p {
	line-height: 28px;
}
.fontsize .inner_content_txt blockquote p {
	line-height: 36px;
}
.fontsize .full_main_menu_wrap {
	float: none !important;
	margin-bottom: 0;
}
.fontsize #phone {
	bottom: 30px !important;
}
.fontsize .full_main_menu_wrap  li a {
	font-size: 18px !important;
}
.fontsize .full_main_menu_item:hover .inner_subitems_wrap {
	top: 22px;
}
.fontsize .nomobile_inner_menu li a {
	font-size: 18px !important;
}
.fontsize #subnav {
	height: 60px !important;
}
.fontsize #navb {
	padding-top: 40px;
}
.fontsize #menu-top-menu a {
	font-size: 18px;
}
.fontsize .announce_more a {
	font-size: 18px !important;
}
.fontsize .announce_more {
	padding-top: 15px;
}
.fontsize .footer_copy_txt {
	float: none;
}
.fontsize #menu-footer-bottom-menu {
	float: none !important;
	margin: auto !important;
}
.fontsize #menu-footer-bottom-menu a {
	line-height: 25px;
}
.fontsize #footer_menu li a {
	font-size: 18px;
}
.fontsize #menu-footer-main-menu li:after {
	height: 20px;
}
.fontsize .inner_content_wrap {
	margin-bottom: 100px;
}
/*wp accessibility end*/
.china_slider_ttl {
	max-width: 335px;
}
.china_search_wrap {
	float: right;
	padding-top: 0;
}
.china_search_ttl {
	float: right;
}
.ch_fl_contact {
	padding: 5px 0; 
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.china_footer {
	margin-top: 55px;
	padding-bottom: 50px;
}
.china_search_wrapper {
	margin-top: 15px;
}
.china_announce_item {
	color: #1e80c6;
}
.china_announce_item h3 {
	font-weight: 600;
}
.ch_fr_txt {
	text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #00a5e9;
}
.china_phone_wrap {
	margin-top: 15px;
	width: 255px;
	display: inline-block;
}
.china_email_wrap {
	width: 200px;
	display: inline-block;
	text-align: right;
	color: #00a5e9;
}
.china_phone_wrap p span:first-child {
	/*font-weight: 600;*/
}
.mob_menu_arrow {
	display: inline-block !important;
	width: 10% !important;
}
.mob_menu_item {
	display: inline-block !important;
	width: 50% !important;
	float: left;
}
.mobile_menu_wrap>ul>.open>a {
	background-color: transparent !important;
}
.mobile_menu_wrap>ul>.open a:nth-child(2) {
	background-color: transparent !important;	
}
.front_menu_items li a {
	text-align: left;
	text-transform: uppercase;
}
textarea { resize: none; }
html, body {
	height: 100%;
}
.inner_content_bg {
	width: 100%;
	height:100%; 
	position:fixed;
	z-index: -1;
	background-attachment: fixed;
}
/*@media (max-width: 1374px) {
	html, body {
		height: 100% !important;
	}
}*/
.footer_menu_item_wrap {
	float: left;
	width: 50%;
	padding-right: 15px;
}
.footer_menu_ttl {
	color: #666663;
    padding-top: 15px;
    padding-bottom: 3px;
    margin-bottom: 0;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12px;
}
.footer_menu_item li {
	display: block;
	width: 100%;
}
.footer_menu_item li a {
	padding: 0;
}
.footer_menu_b {
	float: left;
	width: 50%;
}
@media (max-width: 1200px) {
	#top_slider .owl-item img {
		width: auto;
    	height: 233px;
	}
	.fontsize #bs-example-navbar-collapse-1 ul {
		padding-left: 8px;
	}
	.china_email_wrap {
		display: block;
		text-align: left;
	}
}
@media (max-width: 991px) {
	.inner_content_wrap {
		width: 100%;
	}
	#logo {
		position: absolute;
	}
	#logo a {
		display: block;
	    width: 81px;
	    position: relative;
	    z-index: 2;
	}
	#logo a img {
		width: 100%;
		height: auto;
	}
	.full_main_menu_wrap_page ul {
	    padding-top: 18px;
	}
	#bs-example-navbar-collapse-1 > ul {
	    width: 710px !important;
	}
	.fontsize #bs-example-navbar-collapse-1 ul {
		padding-left: 5px;
	}
	.fontsize .inner_subitems_wrap {
		padding-top: 22px !important;
    	margin-left: 5px;
	}
	.fontsize .inner_content_wrap {
		margin-bottom: 150px;
	}
	.footer #subnav li a {
		font-size: 18px !important;
	}
}
@media (max-width: 768px) {
	#menu-top-menu {
		padding-right: 20px;
	}
	.china_flag {
	    margin-top: 0px;
	}
	#phone {
		padding-top: 10px;
	}
	#footer_menu, #footer_social {
		float: none !important;
	}
	#footer_menu ul {
		padding-left: 15px !important;
	}
	#footer_social ul {
		padding-left: 15px;
	}
	#footer_social ul li {
		display: inline-block;
	}
	.footer_copy_txt {
		float: none;
	}
	#menu-footer-bottom-menu {
		float: none;
		padding-left: 15px;
	}
	#menu-footer-bottom-menu li {
		display: inline-block;
	}
	.header_wrapper {
		position: static;
	}
	.inner_footer {
		position: static;
	}
	.inner_content {
		padding-top: 25px;
	}
	#subnav span {
		border: 1px solid white;
	}
	#subnav button {
		padding: 0;
	}
	#bs-example-navbar-collapse-1 ul {
		background: #403E3E !important;
	}
	#subnav ul li {
		display: block;
	}
	#subnav {
		height: auto;
	}
	.mobile_menu_wrap {
		display: block;
	}
	.nomobile_menu_wrap {
		display: none !important;
	}
	.nomobile_inner_menu {
		display: none;
	}
	.nomobile_main-menu {
		display: none;
	}
	.nomobile_page_menu {
		display: none;
	}
	.full_main_menu_wrap {
		display: none;
	}
	.fontsize #phone {
	    bottom: 4px !important;
	}
	.fontsize #logo {
	    padding: 16px 0;
	}
	.fontsize #subnav {
		height: auto !important;
	}
}
@media (max-width: 570px) {
	#menu-footer-main-menu li {
		display: block !important;
	}
	#menu-footer-main-menu a {
		padding-left: 0;
	}
	.footer_menu_item_wrap {
		width: 100%;
	}
}
@media (max-width: 510px) {
	.contact_field_item {
		width: 100%;
	}
	.contact_spec {
		width: 100%;
	}
	#navb ul {
		float: none;
		text-align: center;
	}
	.contact_field_item:nth-child(2n+1) {
		padding-left: 0 !important;
	}
	.contact_field_item_textarea {
		padding-right: 0;
	}
}
@media (max-width: 450px) {
	.titles_wrapper {
		font-size: 17px;
		padding: 7px 0;
	}
	.titles_wrapper li {
	    line-height: 26px;
	}
}
@media (max-width: 374px) {
	.nav_wrap li {
		display: block;
	}
	.nav_wrap {
		padding-top: 0;
	}
	#menu-top-menu {
		padding-right: 25px;
	}
	#menu-top-menu li {
		border: none;
		padding-right: 0 !important;
	}
	#menu-top-menu a {
		padding-right: 0;
	}
	#phone {
		position: static;
		padding-right: 0;
		margin: 0;
	}
}
@media (max-width: 320px) {
	#logo {
		text-align: center;
	}
	#navt ul {
		/*display: block;*/
		/*padding-right: 15px;*/
	}
	#navt ul li {
		/*display: block;*/
		/*border: none;*/
	}
	#navt ul li a {
		padding-right: 3px;
	}
	#phone {
		/*float: none;
		padding: 0;
		text-align: center;*/
	}
	#navb {
		/*padding-bottom: 0;
		text-align: center;
		padding-top: 0;*/
	}
	#menu-main-menu {
		text-align: center;
	}
	#navb ul {
		float: none;
		padding-right: 15px;
	}
	#navb li {
		/*display: block;*/
	}
	#navb a {
		/*padding: 0;*/
		font-size: 9px;
		padding: 3px;
	}
	#top_slider .owl-item img {
		width: auto;
    	height: 233px;
	}

}