/*
Theme Name: CNW
Version: 1.0
Author: Grapps
Author URI: http://gr-development.com
*/
.body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
	max-width: 980px;
}
#logo {
	padding: 7px 0;
}
.nav_wrap {
	list-style-type: none;
	font-size: 0;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 14px;
}
.nav_wrap li {
	display: inline-block;
}
#navt li {
	border-right: 1px solid #dfdfdf;
}
#navt li:last-child {
	border: none;
	padding-right: 2px;
}
#navt ul {
	display: inline-block;
	float: none !important;
}
.nav_wrap li a {
	font-size: 12px;
	padding: 0px 5px 0px 5px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
}
.nav_wrap li.active a {
	color: #0099CC !important;
}
.nav_wrap li a:hover{
	text-decoration: none;
	color: #0099CC !important;
}
#navb ul {
	float: left;
}
#navb li.current-menu-item {
	border-bottom: 1px solid #CACACA;
}
#phone {
	float: right;
	padding-top: 2px;
}
#navb {
	border-top: 1px solid #004d97;
	text-align: left;
}
#navb ul {
	padding-left: 0;
}
#navb a {
    padding: 0px 15px 0px 15px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
}
#phone {
	font-size: 12px;
	font-weight: bold;
	color: #cc0033;
	padding-right: 7px;
}
#subnav {
	background-color: #121212;
	height: 30px;
	list-style-type: none;
}
#subnav ul {
	margin-bottom: 0;
	line-height: 20px;
	font-size: 11px;
	text-align: right;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#subnav li {
	display: inline-block;
	padding: 0 6px;
}
#subnav li.menu_active a {
	border-bottom: 1px solid #FDFBFB;
}
#subnav li:last-child {
	padding-right: 0;
}
#subnav li a {
	color: white;
	font-size: 11px;
	font-weight: bold;
	/*padding-left: 7px;*/
	padding-right: 7px !important;
}
#subnav li a:last-child {
	padding-right: 0 !important;
}
#subnav li.active a {
	text-decoration: underline;
}
/*top slider*/
#top_slider .owl-buttons {
	top: 50%;
	position: absolute;
	width: 100%;
	margin-top: -30px;
	opacity: 0;
}
#top_slider .owl-buttons .owl-next, #top_slider .owl-buttons .owl-prev {
    display: block;
    width: 30px;
    height: 30px;
    background: url(images/arrows.png) -30px no-repeat;
    border: 0;
    transition: all 200ms ease-in-out;
    text-indent: -9999px;
    position: absolute;
    right: 0;
}
#top_slider .owl-buttons .owl-prev {
	right: auto;
	left: 0;
	background: url(images/arrows.png) no-repeat;
}
#top_slider:hover .owl-buttons {
	opacity: 1;
}
#top_slider .owl-controls {
	margin-top: 0;
}
#top_slider .owl-item img {
	width: 100%;
}
/*content*/
#content h3 {
	text-transform: uppercase;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	margin: 32px 0;
}
.ch_industry_item_wrap {
	padding-bottom: 15px;
}
/*announce section*/
#announce {
	background: #eee;
	padding-bottom: 30px;
}
.announce_item h3 {
	font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 43px;
}
.announce_txt p {
    font: 12px Arial, sans-serif;
    color: #333;
    line-height: 1.5;
}
.announce_more a {
	color: #009ee3;
	font: 12px Arial, sans-serif;
}
.announce_item_track {
	padding-top: 30px;
}
.tracking_ttl {
	line-height: 10px;
	color: #333;
	font-size: 12px;
	float: left;
	padding-top: 5px;

}
.tracking_inp {
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	line-height: 10px;
	width: 115px;
	float: left;
}
.tracking_sbm {
	width: 23px;
	height: 19px;
	border: none;
	font-size: 11px;
	padding: 0 3px;
	float: left;
	margin-left: 5px;
}
.announce_link {
	display: block;
	margin-top: 27px;
}
.content_txt h4 {
	color: #1f497d;
	font-weight: bold;
	font-size: 13px;
}
.content_txt p {
	font: 12px Arial, sans-serif;
	color: #333;
	line-height: 1.5em;
}
/*footer*/
#footer {
	background: #121212;
}
#footer_menu {
	padding: 5px 0;
	float: left;
}
#footer_social {
	float: right;
	font-size: 8px;
}
#footer_social a {
	color: white;
	padding: 5px 4px 0px;
}
#footer_social a:hover {
	background: none;
	opacity: 0.7;
}
#footer_menu ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
#footer_menu ul li {
	display: inline-block;
}
#footer_menu ul a {
	font: 11px Arial, sans-serif;
    color: #666;
    line-height: 1.5em;
}
#footer_copy {
	color: #333;
	font-size: 11px;
	padding-top: 5px;
	clear: both;
}
#footer_copy a {
	color: #333;
}

/*inner content*/
.header_wrapper {
	position: fixed;
	width: 100%;
	clear: both;
	background: white;
}
.inner_content {
	height: 100%;
	padding-top: 130px;
}
.inner_footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}
.inner_content_wrap {
	border: 1px solid white;
	margin: 40px 0;
	width: 57%;
	float: right;
	background: white;
	padding: 20px 40px;
}
.inner_content_wrap .announce_more {
	text-align: right;
	border-bottom: 1px solid #7f7f7f;
	padding-bottom: 20px;
}
.inner_content_ttl {
	color: #333;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 22px;
	padding-top: 11px;
	padding-bottom: 11px;
}
.inner_content_subttl {
	font: 14px Arial, sans-serif;
	color: #003366;
}
.inner_content_txt {
	margin-top: 25px;
	border-top: 1px solid #ccc;
	padding-top: 20px;

}
.inner_content_txt p {
	font: 12px Arial, sans-serif;
    color: #333;
	line-height: 18px;
}
.inner_content_quote_ttl {
	color: #003366 !important;
	font-weight: bold !important;
	margin-top: 35px;
}
.inner_content_quote_txt {
	padding: 22px;
	background: #EEEEEE;
	margin-top: 23px;
	font-style: italic;
	font-family: Georgia, Serif;
}
.inner_form_wrap {
    border-top: 1px solid #7F7F7F;
    margin-top: 20px;
    padding-top: 30px;
}
.inner_content_contact_ttl {
	margin-top: 22px;
}
.contacts_mail {
	color: #009ee3;
	font-size: 12px;
}
.china_flag {
	margin-top: -8px;
    display: inline-block;
    vertical-align: top;
    padding-top: 9px;
}
.china_flag:hover img {
	opacity: 0.5;
}
.collapse_main {
	padding: 0;
}
#menu-footer-main-menu {
	float: none !important;
}
#menu-footer-main-menu li {
	position: relative;
}
#menu-footer-main-menu li:first-child a {
	padding-left: 0;
}
#menu-footer-main-menu li:after {
	content: '';
	position: absolute;
	right: 0;
	border-right: 1px solid #666;
	height: 10px;
    top: 3px;
}
#menu-footer-main-menu li:last-child:after {
	border: none;
}
#menu-footer-main-menu a {
	padding: 0 5px;
}
.footer_copy_txt {
	float: left;
	line-height: 10px;
}
#menu-footer-bottom-menu {
	float: left;
}
#menu-footer-bottom-menu a {
	padding: 0;
	line-height: 10px;
	padding-right: 5px;
}
.ch_industry_item_wrap:hover img {
	opacity: 0.7;
}
.ch_industry_item {
	display: block;
    overflow: hidden;
    position: relative;
}
.ch_industry_item_ttl {
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
    background: #212020;
    opacity: 0.8;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
.contact_field_item {
	width: 49%;
	float: left;
}
.contact_field_item p:first-child {
	margin: 0;
}
.contact_field_item:nth-child(2n+1) {
	padding-left: 5px !important;
}
.contact_field_item input {
	width: 100%;
}
.contact_submit {
	clear: both;
}
.single-services #menu-main-menu .menu-item-object-services {
	border-bottom: 1px solid #CACACA;
}
.single-solutions #menu-main-menu .menu-item-object-solutions {
	border-bottom: 1px solid #CACACA;
}
.single-industries #menu-main-menu .menu-item-object-industries {
	border-bottom: 1px solid #CACACA;
}
.single-about #menu-main-menu .menu-item-object-about {
	border-bottom: 1px solid #CACACA;
}
.ch_industry_item img {
	width: 100%;
}
#subnav nav {
	background: none;
	border: none;
}
#subnav button {
	border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
}
@media (max-width: 991px) {
	.inner_content_wrap {
		width: 100%;
	}
}
@media (max-width: 768px) {
	#menu-top-menu {
		padding-right: 20px;
	}
	.china_flag {
	    margin-top: 0px;
	}
	#phone {
		padding-top: 10px;
	}
	#footer_menu, #footer_social {
		float: none !important;
	}
	#footer_menu ul {
		padding-left: 15px !important;
	}
	#footer_social ul {
		padding-left: 15px;
	}
	#footer_social ul li {
		display: inline-block;
	}
	.footer_copy_txt {
		float: none;
	}
	#menu-footer-bottom-menu {
		float: none;
		padding-left: 15px;
	}
	#menu-footer-bottom-menu li {
		display: inline-block;
	}
	.header_wrapper {
		position: static;
	}
	.inner_footer {
		position: static;
	}
	.inner_content {
		padding-top: 25px;
	}
	#subnav span {
		border: 1px solid white;
	}
	#subnav button {
		padding: 0;
	}
	#bs-example-navbar-collapse-1 ul {
		background: #403E3E !important;
	}
	#subnav ul li {
		display: block;
	}
}
@media (max-width: 570px) {
	#menu-footer-main-menu li {
		display: block !important;
	}
	#menu-footer-main-menu a {
		padding-left: 0;
	}
}
@media (max-width: 510px) {
	.contact_field_item {
		width: 100%;
	}
	.contact_spec {
		width: 100%;
	}
	#navb ul {
		float: none;
		text-align: center;
	}
	#menu-main-menu li {
		/*display: block;*/
	}
	#phone {
		padding-right: 0 !important;
	}
}
@media (max-width: 320px) {
	#logo {
		text-align: center;
	}
	#navt ul {
		/*display: block;*/
		padding-right: 15px;
	}
	#navt ul li {
		/*display: block;*/
		/*border: none;*/
	}
	#navt ul li a {
		padding-right: 3px;
	}
	#phone {
		float: none;
		padding: 0;
		text-align: center;
	}
	#navb {
		padding-bottom: 0;
		text-align: center;
		padding-top: 0;
	}
	#menu-main-menu {
		text-align: center;
	}
	#navb ul {
		float: none;
		padding-right: 15px;
	}
	#navb li {
		/*display: block;*/
	}
	#navb a {
		/*padding: 0;*/
		font-size: 9px;
		padding: 3px;
	}
	#top_slider .owl-item img {
		width: auto;
    	height: 156px;
	}
}
hr{
	border-top: 1px solid #7f7f7f;
    	border-right: 0;
    	border-left: 0;
   	border-bottom: 0;
    	height: 1px;
	color: black;
}
body > div.inner_content > div > div > div.inner_content_txt.clearfix > h4{
	font: 14px Arial, sans-serif;
    	color: #003366;
   	line-height: 1.5em;
    	text-transform: none;
    	padding: 20px 0 5px 0;
	font-weight: bold;
}